body{
    background-image: url(../images/abstract-astro-astronomy-956999.jpg);
}

.card-img-top {
    width: 75%;
}

.card-header,
.card-footer{
    padding: 0;
}

.images {
    height: 210px;
}

img{
    margin: 0 auto;
}