body{
    background-image: url(../images/abstract-astro-astronomy-956999.jpg);
}

.card-img-top {
    padding: 30px 0px 10px 0px;
}

.card{
    max-width: 200px;
    max-height: 260px;
}

.card-header,
.card-footer{
    position:absolute;
    padding: 0;
    width:100%;
    background-color: white;
    left: 0;
}

.card-header{
    top:0;
}

.card-footer{
    bottom:0;
}

img{
    margin: 0 auto;
}