.heading {
    background-color: coral;
    color: white;
}

.instructions{
    background-color: burlywood;
    color: darkgreen;
    font-weight: bold;
}

body{
    background-image: url(../images/abstract-astro-astronomy-956999.jpg);
}

.fixed-height{
    height: 7rem;
}

img{
    height:22% !important;
    width:22% !important;
    max-height: 150px !important;
    max-width: 150px !important;
}

#random-number-text{
    color: purple;
}

.totals{
    background-color: aqua;
}